{% extends "base.html" %}

{% block mainbody %}
<!-- 提示信息 alert-info alert-success
    <div class="page-header">
      <div class="alert alert-info" role="alert">
        <strong>请稍候</strong> 您的处理已开始，请耐心等待。
      </div>
    </div>
-->

    <div class="container-fluid">
        <form id="upload" action="" method="post" enctype="multipart/form-data" onsubmit="return submitForm()">
            {% csrf_token %}
            <div>
                <p>
                    <strong>请上传PDF或JPG文件</strong>
                    <input type="file" name="file">
                    <input type="submit" value="提交">
                </p>
            </div>
        </form>
        <div class="row">
            <table id="tab" class="table table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>文件名</th>
                    <th>处理</th>
                    <th>结果</th>
                </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                        <tr>
                            <td>#</td>
                            <td>{{ file.filename }}</td>
                            <td>
                                <button type="button" class="btn btn-primary">构件</button>
                                <button type="button" id="{{ file.filename }}_space" class="{{ file.button_type_space }}"
                                        onclick="onclick_space('{{ file.filename }}')">空间</button>
                                <button type="button" id="{{ file.filename }}_text" class="{{ file.button_type_text }}"
                                        onclick="onclick_text('{{ file.filename }}')">文本</button>
                            </td>
                            <td>
                                <a href="/result?name={{ file.filename }}">
                                    <button type="button" class="btn btn-primary">查看</button>
                                </a>
                                <a href="/download?name={{ file.filename }}">
                                    <button type="button" id="{{ file.filename }}_download" class="btn btn-primary">下载</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>
        function submitForm() {
          // jquery 表单提交
            $("#upload").ajaxSubmit(function(message) {
                // 对于表单提交成功后处理，message为表单正常提交后返回的内容
                alert("图纸已上传成功!");
                location.reload();
            });
            return false; // 必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
        }
        
        function onclick_space(filename) {
            $.ajax({
                url: '/?name='+filename+'&method=space',
                type: 'GET',
                async: false,
                cache: false,
                processData: false,
                success: function (result) {
                    if(result.status = "200"){
                        // 修改按钮样式
                        let classAtr = document.getElementById(filename + "_space").getAttribute("class");
                        let newClass = classAtr.replace("btn btn-primary","btn btn-success");
                        document.getElementById(filename + "_space").setAttribute("class",newClass);
                    }
                }
            });
        }

        function onclick_text(filename) {
            $.ajax({
                url: '/?name='+filename+'&method=text',
                type: 'GET',
                async: false,
                cache: false,
                processData: false,
                success: function (result) {
                    if(result.status = "200"){
                        // 修改按钮样式
                        let classAtr = document.getElementById(filename + "_text").getAttribute("class");
                        let newClass = classAtr.replace("btn btn-primary","btn btn-success");
                        document.getElementById(filename + "_text").setAttribute("class",newClass);
                    }
                }
            });
        }

    </script>

{% endblock %}
